body {
  /* login page style*/
  --auth-background: var(--main-section-background-color);
  --auth-brand-name: bold 36px/42px var(--theme-font);
  --auth-brand-welcome-msg: normal 16px/24px var(--theme-font);

  --auth-title-color: var(--secondary-color);
  --auth-title-font: bold 28px/36px var(--theme-font);
  --auth-description-color: var(--secondary-text-color);
  --auth-description-font: normal 12px var(--theme-font);
  --auth-description-padding: 5px 5px 15px 5px;

  --auth-input-font: normal 18px/24px var(--theme-font);
  --auth-input-border: 1px solid var(--opacity-dark-color);
  --auth-input-border-light: 1px solid var(--opacity-light-color);
  --auth-input-color: var(--secondary-color);

  --auth-button-background-color: var(--secondary-color);
  --auth-button-background-focus-color: var(--primary-color);
  --auth-button-font: normal 18px/20px var(--theme-font);
  --auth-button-padding: 9px 12px 7px 12px;

  /* profile page style*/
  --profile-brand-width: 150px;
  --profile-brand-height: 45px;
  --profile-brand-padding: 30px auto 20px auto;

  --profile-wrap-max-width: 550px;
  --profile-icon-margin: 7% 0 0 0;

  --auth-input-field-width: 100%;
  --auth-input-field-font: normal 16px var(--theme-font);

  --change-password-field-font: var(--auth-input-field-font);
  --change-password-field-border: 1px solid rgba(0, 0, 0, 0.2);
  --change-password-field-border-radius: var(--border-radius);
  --change-password-field-padding: 2px 9px;
  --change-password-field-width: var(--auth-input-field-width);

  --auth-special-page-padding: 250px 0 100px 0;
}

@media only screen and (max-width: 460px) {
  body {
    /* profile page style*/
    --profile-wrap-max-width: 85vw;

    --auth-input-field-font: normal 20px var(--theme-font);
  }
}

@media (min-width: 461px) and (max-width: 1024px) {
  body {
    /* profile page style*/
    --auth-input-field-font: normal 20px var(--theme-font);
  }
}
